@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<div id="menu-container">
    <div id="results">
        <div class="menu-item">
            <div id="combo-list">
                @if (Model.Menu.OfType<DinoDiner.Menu.CretaceousCombo>().Count() != 0)
                {
                    <h2>Combos</h2>
                    <table>
                        <tr>
                            <th>Combos</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                            <th>Ingredients</th>
                        </tr>
                        @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu)
                        {
                            if (item is DinoDiner.Menu.CretaceousCombo)
                            {
                                DinoDiner.Menu.CretaceousCombo combo = item as DinoDiner.Menu.CretaceousCombo;
                                <tr>
                                    <th rowspan="3">@combo.ToString()</th>
                                    <th>Small</th>
                                    <th>@String.Format("{0:0.00}", combo.Price)</th>
                                    <th>@combo.Calories</th>
                                    <th rowspan="3">
                                        @foreach (string ing in combo.Ingredients)
                                        {@ing <br />}
                                    </th>
                                </tr>
                                <tr>
                                    <th>@(combo.Size = DinoDiner.Menu.Size.Medium)</th>
                                    <th>@String.Format("{0:0.00}", combo.Price)</th>
                                    <th>@combo.Calories</th>
                                </tr>                                
                                <tr>
                                    <th>@(combo.Size = DinoDiner.Menu.Size.Large)</th>
                                    <th>@String.Format("{0:0.00}", combo.Price)</th>
                                    <th>@combo.Calories</th>
                                </tr>
                            }
                        }
                    </table>
                }
            </div>


            <div id="entree-list">
                @if (Model.Menu.OfType<DinoDiner.Menu.Entree>().Count() != 0)
                {
                    <h2>Entrees</h2>
                <table>
                    <tr>
                        <th>Entree</th>
                        <th>Price</th>
                        <th>Calories</th>
                        <th>Ingredients</th>
                    </tr>
                    @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu)
                    {
                        if (item is DinoDiner.Menu.Entree)
                        {
                            <tr>
                                <th>@item.ToString()</th>
                                <th>@String.Format("{0:0.00}", item.Price)</th>
                                <th>@item.Calories</th>
                                <th>
                                    @foreach (string ing in item.Ingredients)
                                    {@ing <br />}
                                </th>
                            </tr>
                        }
                    }
                </table>
                }
            </div>


            <div id="side-list">
                @if (Model.Menu.OfType<DinoDiner.Menu.Side>().Count() != 0)
                {
                    <h2>Sides</h2>
                    <table>
                        <tr>
                            <th>Sides</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                            <th>Ingredients</th>
                        </tr>
                        @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu)
                        {
                            if (item is DinoDiner.Menu.Side)
                            {
                                DinoDiner.Menu.Side side = item as DinoDiner.Menu.Side;
                                <tr>
                                    <th rowspan="3">@side.ToString()</th>
                                    <th>Small</th>
                                    <th>@String.Format("{0:0.00}", side.Price)</th>
                                    <th>@side.Calories</th>
                                    <th rowspan="3">
                                        @foreach (string ing in side.Ingredients)
                                        {@ing <br />}
                                    </th>
                                </tr>                                
                                <tr>
                                    <th>@(side.Size = DinoDiner.Menu.Size.Medium)</th>
                                    <th>@String.Format("{0:0.00}", side.Price)</th>
                                    <th>@side.Calories</th>
                                </tr>                                
                                <tr>
                                    <th>@(side.Size = DinoDiner.Menu.Size.Large)</th>
                                    <th>@String.Format("{0:0.00}", side.Price)</th>
                                    <th>@side.Calories</th>
                                </tr>
                            }
                        }
                    </table>
                }
            </div>


            <div id="drink-list">
                @if (Model.Menu.OfType<DinoDiner.Menu.Drink>().Count() != 0)
                {
                    <h2>Drinks</h2>
                    <table>
                        <tr>
                            <th>Drinks</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                            <th>Ingredients</th>
                        </tr>
                        @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu)
                        {
                            if (item is DinoDiner.Menu.Drink)
                            {
                                DinoDiner.Menu.Drink drink = item as DinoDiner.Menu.Drink;
                                <tr>
                                    <th rowspan="3">@drink.ToString()</th>
                                    <th>Small</th>
                                    <th>@String.Format("{0:0.00}", drink.Price)</th>
                                    <th>@drink.Calories</th>
                                    <th rowspan="3">
                                        @foreach (string ing in drink.Ingredients)
                                        {@ing <br />}
                                    </th>
                                </tr>
                                <tr>
                                    <th>@(drink.Size = DinoDiner.Menu.Size.Medium)</th>
                                    <th>@String.Format("{0:0.00}", drink.Price)</th>
                                    <th>@drink.Calories</th>
                                </tr>

                                <tr>
                                    <th>@(drink.Size = DinoDiner.Menu.Size.Large)</th>
                                    <th>@String.Format("{0:0.00}", drink.Price)</th>
                                    <th>@drink.Calories</th>
                                </tr>
                            }
                        }
                    </table>
                }
            </div>
        </div>
    </div>

    <div class="checkbox-list">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" value="Search and Filter" />

            <div class="menu-category">
                <h2>Menu Catagory</h2>
                <label>
                    <input type="checkbox" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                    Drink
                </label>
            </div>

            <h2>Price</h2>
            <div id="Price">
                <label>
                    Minimun Price:
                    <input type="number" min="0" id="minimum-price" name="minimumPrice" value="@Model.minimumPrice" />
                </label>

                <label>
                    Maximum Price:
                    <input type="number" min="0" id="maximum-price" name="maximumPrice" value="@Model.maximumPrice" />
                </label>
            </div>

            <h2>Excluding Ingredients</h2>
            <div id="exclude-ingredients">
                @foreach(string ingredient in Model.Ingredients)
                {
                    <label>
                        @ingredient
                        <input type="checkbox" value="@ingredient" name="exIngredients" checked="@Model.exIngredients.Contains(ingredient)" />
                    </label>
                }
            </div>

        </form>
    </div>
</div>

