@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="checkbox-list">
    <form method="post">
        <input type="text" name="search" id="search" value="@Model.search" />
        <input type="submit" value="Search" />
        <input type="submit" name="filter" id="filter" value="Apply Filter(s)" />

        <div class="menu-category">
            <h2>Menu Catagory</h2>
            <label>
                <input type="checkbox" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>

        <h2>Price</h2>

        <h2>Excluding Ingredients</h2>

    </form>
</div>

<div id="menu-container">
    <div class="menu-item">
        <div id="combo-list">
            <h2>Combos</h2>
            <table>
                <tr>
                    <th>Combos</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Ingredients</th>
                </tr>
                @foreach (DinoDiner.Menu.CretaceousCombo item in Model.Menu.AvailalbeCombos)
                {
                    <tr>
                        <th>@item.ToString()</th>
                        <th>@String.Format("{0:0.00}", item.Price)</th>
                        <th>@item.Calories</th>
                        <th>
                            @foreach (string ing in item.Ingredients)
                            {<p>@ing  </p>}
                        </th>
                    </tr>
                }
            </table>
        </div>


        <div id="entree-list">
            <h2>Entrees</h2>
            <table>
                <tr>
                    <th>Entree</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Ingredients</th>
                </tr>
                @foreach (DinoDiner.Menu.Entree item in Model.Menu.AvailableEntrees)
                {
                    <tr>
                        <th>@item.ToString()</th>
                        <th>@String.Format("{0:0.00}", item.Price)</th>
                        <th>@item.Calories</th>
                        <th>
                            @foreach (string ing in item.Ingredients)
                            {<p>@ing  </p>}
                        </th>
                    </tr>
                }
            </table>
        </div>


        <div id="side-list">
            <h2>Sides</h2>
            <table>
                <tr>
                    <th>Sides</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Ingredients</th>
                </tr>
                @foreach (DinoDiner.Menu.Side item in Model.Menu.AvailableSides)
                {
                    <tr>
                        <th>@item.ToString()</th>
                        <th>@String.Format("{0:0.00}", item.Price)</th>
                        <th>@item.Calories</th>
                        <th>
                            @foreach (string ing in item.Ingredients)
                            {<p>@ing  </p>}
                        </th>
                    </tr>
                }
            </table>
        </div>


        <div id="drink-list">
            <h2>Drinks</h2>
            <table>
                <tr>
                    <th>Drinks</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Ingredients</th>
                </tr>
                @foreach (DinoDiner.Menu.Drink item in Model.Menu.AvailableDrinks)
                {
                    <tr>
                        <th>@item.ToString()</th>
                        <th>@String.Format("{0:0.00}", item.Price)</th>
                        <th>@item.Calories</th>
                        <th>
                            @foreach (string ing in item.Ingredients)
                            {<p>@ing  </p>}
                        </th>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

